<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{titulo}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pico.css">
    
</head>

<body>

    <header>
        <button>
            <a href="/" class="miEstilo">Inicio</a>
          </button>
        <button>
            <a href="/new" class="miEstilo2">Nuevo</a>
          </button>

          <h1>Aplicación Web Flask BCeroXVIII</h1>
    </header>

    <section class="container">
        {# Esto es un comentario en Jinja #}
        {% block pageBase %}

        {% endblock %}
    </section>

    <footer>
            &copy;2023 - todos los derechos reservados - danielgrs94@gmail.com
    </footer>

    
</body>
</html>