<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: Lista</title>
</head>
<style>
    table,th,td{
        border: 1px solid rgb(64, 0, 66);
    }
</style>
<body>

    <header>
        <button>
            <a href="/">Inicio</a>
          </button>
        <button>
            <a href="/new">Nuevo</a>
          </button>
        <button>
            <a href="/update">Editar</a>
          </button>
        <button>
            <a href="/delete">Eliminar</a>
          </button>
          <h1>Aplicación Web Flask BCeroXVIII</h1>
    </header>

    <section>
        {# Esto es un comentario en Jinja #}
        {% block pageBase %}

        {% endblock %}
    </section>

    <footer>
            &copy;2023 - todos los derechos reservados - danielgrs94@gmail.com
    </footer>


</body>
</html>