{% extends "base.html" %}
{% block pageBase %}
<h1>Lista de Ingresos y Gastos</h1>

<table role="grid">
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>

    {% for item in data %}
      <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}€</td>
        <td>
          <a href="/update/{{item[0]}}">Modificar</a>
          <a href="/delete/{{item[0]}}">Eliminar</a>
        </td>
      </tr>
    {% endfor %}

   
  </table>
  <br>
  <button>
    <a href="/new">Nuevo Registro</a>
  </button>
  <br>
{% endblock %}